.App {
    margin: 100px auto;
    width: 80vw;
    font-family: Arial, Helvetica, sans-serif;

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}