.searchBarContainer{
    background: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;

    .searchBarTitle{
        margin: 10px 5px 5px 5px;
    }

    .searchBar{
        margin: 5px 5px 10px 5px;
    }
}